.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
!datasets/annotation/

experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
raw_datasets/
# models 폴더 내 .pth 파일 무시
models/*.pth

# 나머지 파일은 추적
!models/*.py

*.jpg
datasets/test_images/*.jpg
datasets/train_images/*.jpg
datasets/val_images/*.jpg

0_output_Backup/

output/
output_augmented_eos0.2/
inference_results/vis/